.card {
  position   : relative;
  width      : 70vw;
  height     : 75vh;
  text-align : center;
}

.comandi {
  position     : absolute;
  right        : 0;
  bottom       : 1%;
  left         : 0;
  width        : 100%;
  margin-right : auto;
  margin-left  : auto;
}

#foto {
  width               : 90%;
  height              : 90%;
  margin              : 0 auto;
  border-radius       : 5px;
  background-color    : rgb(30, 30, 30);
  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : contain;
}

#avanti img,
#indietro img {
  width  : 20px;
  height : 20px;
}

#avanti,
#indietro {
  width         : 40px;
  height        : 40px;
  border        : 3px solid rgb(50, 50, 50);
  border-radius : 5px;
  background    : none;
}

#avanti:active,
#indietro:active {
  background-color : rgb(90, 90, 90);
}

#avanti:focus,
#indietro:focus {
  outline : none;
}

#scegliCategoria,
#scegliCategoria option {
  height         : 40px;
  color          : rgb(50, 50, 50);
  border         : 3px solid rgb(50, 50, 50);
  border-radius  : 3px;
  background     : none;
  vertical-align : top;
}

@media only screen
       and (max-width : 768px) {
  .card {
    box-sizing   : border-box;
    width        : 100%;
    margin-right : 0px;
    margin-left  : 0px;
  }

  .logo {
    display : none;
  }

  #foto {
    width  : 99%;
    margin : auto;
  }

  header h1 {
    margin-left : 0;
    font-size   : 10vw;
  }

  header {
    height : auto;
  }
}
